@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

html {
  scroll-behavior: smooth;
}

body {
	font-size: 10px;
	font-family: 'Nunito', sans-serif;
	background-image: linear-gradient(115deg, rgba(23, 23, 114, 0.8), rgba(0, 70, 139, 0.6)), url("../images/math-bg.jpg");
	background-attachment: fixed;
	color: rgb(255,255,255);
    margin: 0;
}


a {
    text-decoration: none;
}


.section-title {
	display: block;
    padding: 2rem 0 0 4rem;
    font-size: 3rem;
    margin: 4rem;
}

#ai {
	background: navy;
}

#web {
	background: #082D96;
}

#other {
    background: #074D8C;
}

/* MENU */

#menu {
	overflow: hidden;
	position: fixed; 
	top: 0; 
	width: 100%;
	
}

#menu ul {
	list-style: none; 
	margin: 0;  
	padding-left: 0; 
	margin-top:0; 
	background:#FF4444;  
	height: 50px;
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-justify-content: space-between; /* Safari */
	justify-content: space-between;
}

#menu a {
	text-decoration: none;  
	background:#FF4444;  
	color:#fff;  
	padding:10px 15px;
	font-family: arial;
	font-size: 1.5rem;
	line-height:30px;  
	display: block; 
	border-right: 1px solid #F36262; 
	-moz-transition: all 0.3s 0.01s ease;  
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
}

#menu a:hover {
	background:#D43737; 
}


/*  WELCOME */
    
#welcome-1 {
    font-size: 8rem;
    text-align: center;
}
        
#welcome-2 {
    font-size: 6rem;
    text-align: center;
}

#welcome-section {
	height: 100vh;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SKILLS */
	
#skills-section {
    padding-top: 1rem;

}


#list-of-skills {
	width:60%;
    margin-top:5%;
    margin-left: 20%;
    font-size: 2rem;
}
	
#list-of-skills li {
	margin:0;
	padding: 0 0 2rem 2rem;
	list-style-type: none;
	display: flex;
	align-items: center;
}
	
.ico {
	margin: 0 2rem 0 0;
	padding: 0;
	width: 5rem;
	height: 5rem;
	border-style: solid;
	border-width: 1rem;
	border-radius: 1rem;
	border-color: white;
	background: white;
}

#linkmap {
	width:90%;
    margin-top:5%;
    text-align: right;
}

#linkmap a {
	width:80%;
    margin-top:10%;
    margin-left: 10%;
    font-size: 2rem;
    color: #fff;
    text-align: right;
}

/* CERTIFICATES */

#cert-tile-container {
	width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 3vw;
}

.cert-tile-link {
    display: block;
    height: 18rem;
    cursor: pointer;
    text-decoration: none; 
}

.cert-img {
    width: 80%;
    height: auto;
    z-index: -1;
}

.cert-tile-text {
    position: relative;
    width: 60%;
    margin-top: -50%;
    margin-left: 10%;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    color: navy;
    text-decoration: none;
    
}

.cert-tile-link:hover {
    transform: scale(0.95);
}


/* ML CERT */

#mlcert {
	width:80%;
    margin-top:5%;
    margin-left: auto;
    margin-bottom: 5%;
    font-size: 1.5rem;
    display: flex;
	align-items: center;
}



#mlcertimg {
	margin: 0 2rem 0 0;
	padding: 0;
	width: 24rem;
	height: 16rem;
	border-style: solid;
	border-width: 2rem;
	border-color: white;
	background: white;
	box-shadow: 5px 5px 10px #fff;
}

#mlcertimg:hover {
    transform: scale(0.95);
    box-shadow: none;
}


/* PUBLICATIONS */
	
#publications-section {
    background: navy;
    padding-top: 1rem;
    padding-bottom: 10%;
}
	
#list-of-publications {
	width:60%;
    margin-top:5%;
    margin-left: 20%;
    font-size: 1.5rem;
}
	
#list-of-publications li {
	margin:0;
	padding: 0 0 2rem 2rem;
}

/* PROJECTS */

.tile-all {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 3vw;
	padding-bottom: 10%;
}

.tile {
	display: -webkit-flex; /* Safari */
	display: flex;
	flex-direction: column;
	-webkit-flex-direction: column; /* Safari */
}

.project-tile-container {
    border: 3px solid  #000;
    border-radius:  10% 10% 0 0;
    width: 100%;
    height: 15rem; 
	cursor: pointer;
	background: rgb(229, 83, 0);
	box-shadow: 5px 5px 10px #fff;
	text-align: center;
}

.project-image {
    width: 90%;
    height: 50%;
    border-radius:  10%;
    margin: 5%;
}

.tile-link {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

.project-tile-container:hover {
    background: rgb(0, 0, 139);
    transform: scale(0.98);
    box-shadow: none;
}

.git-tile-container {
	cursor: pointer;
    border: 3px solid  #000;
    width: 100%;
    height: 2.5rem; 
    text-align: center;
    background: rgb(229, 83, 0);
	border-radius:  0 0 50% 50%;
    box-shadow: 5px 5px 10px #fff;
}

.git-link {
	font-size: 1.5rem;
    color: white;
	font-size: 1.5rem;
    text-decoration: none;
}

.git-tile-container:hover {
    background: rgb(0, 0, 139);
    transform: scale(0.95);
    box-shadow: none;
}

/* AI - ML - PROJECTS */

#ai-project-tile-container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 3vw;

}

#ml-project-tile-container {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 3vw;

}

.ai-project-image {
    width: 40%;
    height: 80%;
    border-radius:  10%;
	border: 3px solid  navy;
    margin: 0 5%;
	align-self: center
}

.ai-project-name {
	align-self: center
}

.ai-tile-link {
    display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-justify-content: space-between; /* Safari */
	justify-content: space-between;
    cursor: pointer;
    border: 3px solid  navy;
    #border-radius:  10%;
    width: 100%;
    height: 10rem; 
    font-size: 1.5rem;
    text-align: center;
    background: white;
    color: black;
    text-decoration: none;
    box-shadow: 5px 5px 10px #fff;
}

.ai-tile-link:hover {
	color: red;
    transform: scale(0.95);
    box-shadow: none;
}


/*  Other */

#other-section {
    padding-top: 1rem;
}


#list-of-other {
	width:90%;
    margin-top:5%;
    margin-left: 5%;
    font-size: 1.5rem;
}

#list-of-other li {
	margin:0;
	padding: 0 0 2rem 2rem;
	list-style-type: none;
	display: flex;
	align-items: center;
}

.icoother {
	margin: 0 2rem 0 0;
	padding: 0;
	width: 15rem;
	height: 15rem;
	border-style: solid;
	border-width: 1rem;
	border-radius: 1rem;
	border-color: white;
	background: white;
	box-shadow: 5px 5px 10px #fff;
}

.icoother:hover {
    transform: scale(0.95);
    box-shadow: none;
}


/*  Footer */

#footer {
	display: block;
	text-align: left;
	margin:0;
	padding: 0;
	font-size: 1rem;
	color: grey;
	background: rgb(240, 248, 255);
}
