@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
	
	html body {
		font-size: 10px;
		font-family: 'Nunito', sans-serif;
		background-image: linear-gradient(115deg, rgba(23, 23, 114, 0.8), rgba(0, 70, 139, 0.6)),
						  url("images/math-bg.jpg");
		background-attachment: fixed;
		color: rgb(255,255,255);
		margin: 0;
		padding: 0;
	}
	
	h1{
		font-size: 8rem;
		margin: 0;
		padding: 0;
	}
	
	h2{
		font-size: 6rem;
		margin: 0;
		padding: 0;
	}
	
	h3{
		font-size: 4rem;
		margin: 0;
		padding: 0;
	}
	
	h4{
		font-size: 3rem;
		margin: 0;
		padding: 0;
	}
	
	.section-title{
		display: block;
		margin-left: 4rem;
		padding-top: 7rem;
	}
	
/* Navbar */	
	#navbar{
		position: fixed;
		width:100%;
		text-align: right;
		background: rgb(0, 0, 139);
	}
	
	#navbar p{
		margin-right: 4rem;
		padding: 1.5rem;
	}
	
	.nav-link{
		font-size: 2rem;
		padding: 1rem;
		color: rgb(255,255,255);
		text-decoration: none;
	}
	
	.nav-link:hover{
		border-radius: 1rem;
		color: rgb(0, 0, 139);
		background:rgb(255, 255, 255);
	}
	
/* Main - Welcome  */
	#welcome{
		height: 100vh;
		margin:0;
		padding: 0;
	}

	#welcome-text{
		display:block;
		padding-top: 10rem;
		text-align: center;
	}

/* Main - Skills */
	#skills{
		height: 100vh;
		margin:0;
		padding: 0;
		background: rgb(23, 23, 114);
	}
	
	#skill-container{
		width: 80%;
		margin: 5% auto;
		padding: 0;
	}
	
	#skill-container p{
		display: flex;
		align-items: center;
		font-size: 2rem;
		margin:0;
		padding: 0.5rem 1rem;
	}
	
	.skill-img{
		margin: 0 2rem;
		padding: 0;
		width: 5rem;
		height: 3rem;
		border-radius: 1rem;
		background: rgb(255,255,255);
	}
	
/* Main - Projects */
	#projects{
		height: 100vh;
		margin:0;
		padding: 0;
	}
	
	#project-tile-container{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		align-items: center;
		grid-gap: 2vw;
		margin: 2rem 2rem;
		padding: 0;
	}
	
	.project-tile{
		height: 50vh; 
		border: 3px solid;
		border-radius:  10%;
		border-color: rgb(0, 0, 0);
		background: rgb(240, 248, 255);
	}
	
	.project-image{
		width: 80%;
		height: 42%;
		border-radius: 10%;
		margin: 10%;
	}
	
	.project-title{
		display: block;
		width: 100%;
		margin:0;
		padding: 0.5rem 0; 
		font-size: 1rem;
		text-align: center;
		color: rgb(255, 255, 255);
		background: rgb(229, 83, 0);
		text-decoration: none;
	}
	
	.project-title:hover{
		background: rgb(0, 0, 139)
	}
	
	
/* Main - Contacts */	
	#contacts{
		height: 100vh;
		margin:0;
		padding: 0;
		background: rgb(25, 25, 112);
	}
	
	#contact-body{
		display: grid;
		grid-template-columns: 3fr 1fr 3fr;
		align-items: center;
		grid-gap: 2vw;
	}
		
	#contact-body p{
		text-align: center;
		font-size: 3rem;
	}
	
	#contact-img{
		width: 40%;
		height: auto;
		border: 3px solid;
		border-radius:  20%;
		border-color: rgb(229, 83, 0);
		box-shadow: 5px 5px  5px 5px rgb(220,220,220);
	}
	
	#contact-img:hover {
		box-shadow: none;
		transform: scale(0.95);
	}

	

/*  Footer */
	#footer{
		margin:0;
		padding: 0;
		font-size: 1rem;
		text-align: left;
		color: rgb(128,128,128);
		background: rgb(240, 248, 255);
	}

	
/* Media query */
	@media (max-width: 800px){
	
		h1{
			font-size: 5rem;
		}
		
		h2{
			font-size: 4rem;
		}
		
		h3{
			font-size: 3rem;
		}
		
		h4{
			font-size: 2rem;
		}
		
		.section-title{
			padding-top: 2rem;
		}
		
		#navbar{
			position: absolute;
			text-align: center;
			overflow: hidden;
		}
		
		.nav-link{
			display: block;
			font-size: 1rem;
			padding: 0.5rem;
		}
		
		#welcome, #skills, #projects, #contacts{
			height: auto;
		}
		
		#welcome-text{
			padding-top: 15rem;
			padding-bottom: 5rem;
		}
		
		#skill-container{
			width:80%;
			margin-left: 10%;
			padding-bottom: 5rem;
		}
	
		#skill-container p{
			font-size: 1rem;
		}
	
		#project-tile-container{
			display: block;
			padding-bottom: 5rem;
		}
	
		.project-tile{
			max-width: 24rem;
			height: 80vh; 
			margin: 3vw auto;
		}
	
		#contact-body{
			display: block;
			height: auto; 
			font-size: 2rem;
			padding-bottom: 5rem;
		}
	
		#contact-img{
			max-width: 10rem;
		}
		
	}
	